.container {
  display: flex;
  width: 100%;
  background-color: rgb(62, 129, 236, 0.2);
  height: 60px;
  padding: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 2vw;
}

.logo {
  height: 1.4vw;
}


.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: white;
  font-size: 1.5;
  font-weight: 900;
  align-items: center;
  align-content: center;
  text-align: center;
}

.indicators {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6B7280;
}

.item.loaded {
  color: #10B981;
}

.item.model_loaded {
  color: #10B981;
}

.text {
  font-size: 0.875rem;
  font-weight: 500;
}

.button {
  display: inline-flex;
  gap: 8px;
  width: auto;
  /* let button size to its content */
  height: auto;
  font-size: 0.8vw;
  /* smaller text */
  align-items: center;
  align-content: center;
  border-radius: 12px;
  /* less rounded */
  font-weight: 500;
  transition: all 0.2s;
  --sidepadding: 1vw;
  /* narrower */
  --toppadding: 0.3vw;
  /* shorter */
  padding: var(--toppadding) var(--sidepadding);
}

.button.active {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.button.inactive {
  color: #6B7280;
  background: transparent;
}

.button.inactive:hover {
  color: white;
}