.container {
  display: flex;
  height: 13vh;
  max-height: 120px;
  width: 100%;
  background-color: var(--navy-700);
  padding: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 2vw;
}


.buttons {
  display: flex;
  position: relative;
  width: 10vw; /*da modificare con 15vw quando il report sarà disponibile*/
  height: 4vh;
  min-height: 50px;
  max-height: 80px;
  margin: 1vh;
  align-items: center;
  border-radius: calc(2*var(--border-radius));
  background-color: var(--navy-500);
  border: 2px solid var(--navy-900);
  overflow: hidden;
}

.slider {
  position: absolute;
  height: 100%;
  background-color: var(--coral-600);
  border-radius: calc(2*var(--border-radius));
  transition: transform 0.4s ease;
  z-index: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  height: 100%;
  font-size: 0.8vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: calc(2*var(--border-radius));
  font-weight: 900;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
  color: var(--text-secondary);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button.active {
  color: var(--text-primary);
  font-weight: bolder;
}

.title {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2px;
  justify-content:center;
  align-items:center;
}

.title p:nth-child(2) {
  font-size: 1rem;
  opacity: 0.8;
}

.title p {
  font-size: 1.7vw;
  font-weight: 900;
  margin: 0;
}

.logo {
  height: 1.4vw;
  margin: 0 1vw 0 1vw;
}

.indicators {
  display: flex;
  width: 17vw;
  align-items: center;
  gap: 1rem;
  border-radius: calc(2*var(--border-radius));
}

.item {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.7vw;
  font-weight: bold;
  gap: 0.5rem;
  width: 9vw;
  padding: 0.7vw;
  color: var(--warning);
  border: transparent;
}

.item.loaded {
  color: #10B981;
}

.item.model_loaded {
  color: #10B981;
}