.app-header {
  background: var(--bg-dark);
  height: var(--header-height);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar-brand {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.3 ease;
}
.sidebar-brand:hover {
  transform: translateY(-1px);
}

.brand-icon {
  width: 2.5rem;
  aspect-ratio: 1;
  background: linear-gradient(135deg, rgb(59, 130, 246), rgb(147, 51, 234));
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
}


.brand-name {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 400;
  background-color: var(--bg);
}

.nav-button:hover {
  background: var(--bg-light);
  transform: translateY(-1px);
}

.nav-button.active {
  /* background: linear-gradient(135deg, rgba(59, 130, 246, 0.2), rgba(147, 51, 234, 0.2)); */
  background-color: var(--clicked);
  color: white;
  border: 1px solid rgba(59, 130, 246, 0.4);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
}

.header-status {
  position: absolute;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  background: rgba(30, 41, 59, 0.5);
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.status-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-indicator span {
  font-size: 0.875rem;
  color: white;
  font-weight: 500;
}

.status-divider {
  width: 1px;
  height: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
}