.image_displayer {
  display: flex;
  flex-direction: row;
  padding: 0 40px 40px 40px;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.action_button {
  position: absolute;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;

  top: 8px;
  right: 8px;
  z-index: 10;
  background: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action_button:hover {
  background: red;
}