.navbar-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    border-radius: 2vw;
    background-color: var(--navy-600);
    padding: 1vw;
    gap: 1vw;
}