.attack-list {
  width: 100%;
  height: 100%;
}

.attack-title {
  display: flex;
  width: 100%;
  color: rgb(187, 184, 184);
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.attack-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 2vw;
  margin-bottom: 0;
}

.attack-button {
  display: flex;
  padding: 10px 20px 10px 20px;
  width: 240px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background-color: var(--bg);
  color: white;
  font-weight: 700;
  font-size: 0.825rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.attack-button:hover {
  transform: translateY(-3px);
}

.btn-open {
  width: 4vw;
  height: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border: transparent;
}

.option-attacks {
  color: white;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.option-attacks p {
  margin: 0;
  color: rgb(187, 184, 184);
}

.alert-message {
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 50;
}

.allert-button {
  display: flex;
  align-items: center;
  align-content: center;
  height: 3vw;
  min-width: 100px;
  width: 17vw;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1.5vw;
  border-radius: 1vw;
  background-color: var(--navy-700);
  color: white;
  gap: 20px;
}

.allert-button svg {
  transition: all 0.4s ease;
}

.allert-button:hover:not(.disabled) {
  background-color: var(--navy-100);
}

.allert-button:hover:not(.disabled) svg {
  transform: translateX(5px);
}

.message-body {
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}