.wrapper {
    margin-left: 4vw;
    margin-right: 4vw;
}

.scroll-container {
    display: grid;
    grid-auto-rows: clamp(60px, 9vw, 180px);
    row-gap: 10px;
    overflow-y: auto;
    height: 50rem;
    padding: 1rem;
    background-color: white;
    border-radius: 2vw;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.table-title {
    font-size: 2vw;
    font-weight: bold;
    margin: 0 0 0.25rem 0;
}

.subtitle {
    font-size: 1.3vw;
    color: #6b7280;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1.14vw;
}

.button {
    border-radius: 10px;
    width: 9vw;
    font-size: 1.2vw;
    background-color: var(--navy-900);
    border: none;
    color: white;
    transition: 0.3s ease;
    text-align: center;
    align-items: center;
    align-content: center;
}

.button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}