.logo{
    margin-top: 10px;
    max-height: 25px;
    width: auto;
    margin-right: 25px; 
  }

.title {
    color: #c91a25;
    font-size: rem(80px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    margin-bottom: 10px;
}

.search {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 400px;
}