.navbar {
    background-color: #f0f0f0 !important; /* Override Mantine's default */
    color: black !important; /* Ensure the text is visible */

  }
  
  .navbar:hover {
    background-color: #dddbdb !important; /* Optional: Slight hover effect */
  }