.modal_button {
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
    background-color: var(--bg);
    border: none;
    border-radius: var(--border-radius);
    color: white;
}
