.attack-selection {
    width: 100%;
    background-color: #374151;
    /* gray-700 */
    border: 1px solid #4b5563;
    /* gray-600 */
    border-radius: 0.5rem;
    /* 8px */
    padding: 0.75rem 1rem;
    /* 12px 16px */
    color: white;
    appearance: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.attack-selection:hover {
    border-color: #6b7280;
    /* gray-500 */
}

.attack-selection:focus {
    border-color: #3b82f6;
    /* blue-500 */
    outline: none;
}

/* ################# Parameters ################# */
.block-parameters {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 10px;
}

.hyperparameters {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.button {
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 1px solid gray;
    animation: 0.4s;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    font-weight: 600;
}

.button:hover {
    text-decoration: underline;
}

.parameter {
    display: flex;
    flex-direction: column;
    color: gray;
    gap: 2px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.parameter-name {
    font-weight: bold;
    font-size: 0.8rem;
}

.parameter-description {
    font-size: 0.65rem;
}

.parameter-value {
    display: flex;
    width: 30px;
    font-size: 0.75rem;
    text-align: right;
}

.value {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.parameter-container-btn {
    width: 100%;
    display: flex;
    flex: row;
    justify-content: space-between;
}


/* ################# Image display ################# */
.image-wrapper {
    height: 100%;
    width: 100%;
}

.image-title {
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    text-align: center;
    align-content: center;
    min-height: 2vw;
}

.image-container {
    position: relative;
    width: 100%;
    aspect-ratio: calc(1/1.16);
    border-radius: 0.5rem;
    border: 2px dashed #d1d5db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
    font-size: 0.875rem;
    font-weight: 500;
}

.image-container:hover {
    background-color: transparent;
    color: inherit;
}

.loader:hover {
    background-color: var(--bg);
    color: white;
}

.delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
    background: black;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ################# Advance results ################# */
.statistics-container {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}