.attack-selection {
    width: 100%;
    background-color: #374151;
    border: 1px solid #4b5563;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: white;
    appearance: none;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.attack-selection:hover {
    border-color: #6b7280;
    /* gray-500 */
}

.attack-selection:focus {
    border-color: #3b82f6;
    /* blue-500 */
    outline: none;
}

/* ################# Parameters ################# */
.block-parameters {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 10px;
}

.hyperparameters {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.button {
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 1px solid gray;
    animation: 0.4s;
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    font-weight: 600;
}

.button:hover {
    text-decoration: underline;
}

.parameter {
    display: flex;
    flex-direction: column;
    color: gray;
    gap: 2px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.parameter-name {
    font-weight: bold;
    font-size: 0.8rem;
}

.parameter-description {
    font-size: 0.65rem;
}

.parameter-value {
    display: flex;
    width: 30px;
    font-size: 0.75rem;
    text-align: right;
}

.value {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.parameter-container-btn {
    width: 100%;
    display: flex;
    flex: row;
    justify-content: space-between;
}

