.title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}


.datasetHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.iconDatabase {
  width: 2rem;
  /* same as w-8 */
  height: 2rem;
  /* same as h-8 */
  color: #60a5fa;
  /* Tailwind's blue-400 */
}

.datasetTitle {
  font-size: 2.25rem;
  /* same as text-4xl */
  font-weight: 700;
  /* same as font-bold */
  background-image: linear-gradient(to right, #93c5fd, #86efac);
  /* from-blue-300 (#93c5fd) to-green-300 (#86efac) */

  background-clip: text;
  -webkit-background-clip: text;
  /* Safari support */
  color: transparent;
  margin: 0
  /* same as text-transparent */
}

.datasetDivider {
  width: 6rem;   /* Tailwind w-24 */
  height: 0.25rem; /* Tailwind h-1 */
  background-image: linear-gradient(to right, #3b82f6, #22c55e);  
  border-radius: 9999px; /* Tailwind rounded-full */
}

.featureBox {
  position: relative;
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #47556966;
  border-radius: 1rem;
  background-color: #33415566;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
 
}