.navbar {
    background-color: transparent !important; /* Override Mantine's default */
    color: white !important; /* Ensure the text is visible */
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    justify-content: flex-start;
}

.navbar:hover {
    background-color: rgba(71, 85, 105, 0.3) !important; /* Optional: Slight hover effect */
}