.navbar {
    background-color: transparent !important; 
    color: white !important; 
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    justify-content: flex-start;
}

.navbar:hover {
    background-color: rgba(71, 85, 105, 0.3) !important; 
}