.dashboard {
    min-height: 100vh;
    padding: 2rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-bottom: 2rem;
}

.header h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
    margin: 0 0 0.5rem 0;
}

.header p {
    color: #6b7280;
    margin: 0;
}

.metrics-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.metric-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    width: 150px;
    height: 70px;
    padding: 7px;
    gap: 5px
}

.metric-title {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    width: 100%;
    margin: 0;
}

.metric-value {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}