.table-wrapper {
    width: 100%;
    height: 270px;
    overflow: auto;
    position: relative;
    background-color: color-mix(in hsl,
            var(--bg-dark) 50%,
            var(--bg) 50%);
    border-radius: var(--border-radius);
}

.repository-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--bg-light);
    font-weight: bold;
    color: white;
    letter-spacing: 0.03em;
}

.table-header th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-row {
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    font-weight: 500;
}

.table-row:hover {
    background-color: color-mix(in hsl,
            var(--bg) 70%,
            var(--bg-light) 30%);
}

.table-row.selected {
    background-color: #3f5873ff;
}

.table-row.selected:hover {
    background-color: #3f5873ff;
}

.table-row td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.table-btn {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius);
}

.table-btn.delete {
    color: red;
}

.table-btn.info {
    color: yellow;
}

.info:hover {
    background-color: rgba(173, 173, 24, 0.825);
}

.info-table th:first-child,
.info-table td:first-child {
    background-color: #f1f3f5;
    font-weight: bold;
    width: 150px;
}