
.container-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: calc(2*var(--border-radius));
}

.card-summary {
    width: 180px;
    height: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    color: white;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
}


.status-icon.completed {
    color: var(--affermative);
}

.status-icon.in-progress {
    color: blue;
}

.status-icon.pending {
    color: var(--warning);
}

.status-icon.closed {
    color: var(--error);
}